<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}] [%level]: %msg%n}{WARN=bright yellow, INFO=white}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef level="trace" ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>